footer {
  color: #8e9ea9;
  padding: 0 6em; }
  footer .footer-link {
    color: #01affe;
    text-decoration: none; }
  footer .row {
    padding: 0;
    margin: 2em auto;
    display: flex;
    justify-content: space-between; }
    footer .row ul {
      padding: 0; }
    footer .row ul li {
      list-style: none; }
    footer .row .social {
      display: inline-block;
      margin-left: 150px; }
  footer .end {
    border-top: 2px solid #eee;
    padding-top: 25px; }

.opinions {
  height: 600px; }
  .opinions .slide-1 {
    height: 100%;
    background-image: url(../../img/main-slide-4.png);
    background-size: cover;
    padding-left: 250px;
    padding-top: 50px; }

body {
  font-family: "Montserrat", Arial, Helvetica, Tahoma, Verdana, sans-serif;
  margin: 0; }
