body {
  font-family: "Montserrat", Arial, Helvetica, Tahoma, Verdana, sans-serif;
  margin: 0; }

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  font-family: "Montserrat", Arial, Helvetica, Tahoma, Verdana, sans-serif; }

/*---------------CTA------------*/
@media (min-width: 414px) {
  .cta-button {
    background: #99ce45;
    border: none;
    border-radius: 50px;
    box-sizing: border-box;
    color: #FFFF;
    cursor: pointer;
    font-size: 15px;
    height: 40px;
    width: 150px; }
  .cta-button:hover {
    background: #6ea319;
    color: #FFFF; } }

@media (min-width: 798px) {
  .cta-button {
    background: #99ce45;
    border: none;
    border-radius: 50px;
    box-sizing: border-box;
    color: #FFFF;
    cursor: pointer;
    font-size: 15px;
    height: 40px;
    width: 150px; }
  .cta-button:hover {
    background: #6ea319;
    color: #FFFF; } }

@media (min-width: 955px) {
  .cta-button {
    background: #99ce45;
    border: none;
    border-radius: 50px;
    box-sizing: border-box;
    color: #FFFF;
    cursor: pointer;
    font-size: 15px;
    height: 40px;
    width: 150px; }
  .cta-button:hover {
    background: #6ea319;
    color: #FFFF; } }

@media (min-width: 1024px) {
  .cta-button {
    background: #99ce45;
    border: none;
    border-radius: 50px;
    box-sizing: border-box;
    color: #FFFF;
    cursor: pointer;
    font-size: 20px;
    height: 50px;
    width: 220px; }
  .cta-button:hover {
    background: #6ea319;
    color: #FFFF; } }



/*----empieza el nav---*/
.mainNav {
  height: 90px;
  width: 100%;
  padding: 15px 0;
  background-color: #01affe;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  color: #FFFF;
  font-size: 10px;
  text-transform: uppercase; }
  .mainNav a {
    margin: 3px;
    padding: 0 10px;
    text-align: center; }
    .mainNav a.right {
      border-right: transparent; }
    .mainNav a:hover {
      color: rgba(17, 10, 112, 0.8);
      text-transform: initial;
      font-size: 15px; }
    @media (min-width: 768px) {
      .mainNav a {
        border-right: solid 3px rgba(17, 10, 112, 0.2);
        font-size: 15px;
        padding: 0 15px; }
        .mainNav a:hover {
          font-size: 20px; } }
  @media (min-width: 768px) {
    .mainNav {
      flex-direction: row; } }
/*_____opinions agus____*/

.loader-opinions .loader {
  width: 30px;
  height: 2px;
  background-color: #ffffffbe;
  margin-right: 5px;
  display: inline-block; }
  .loader-opinions .loader:hover {
    background-color: #FFFF; }
  @media (min-width: 955px) {
    .loader-opinions .loader {
      width: 50px;
      height: 2px; } }

#opinions {
  height: 260px;
  /*height: 600px;*/
  width: 100%;
  position: relative; }
  @media (min-width: 798px) {
    #opinions {
      height: 400px; } }
  @media (min-width: 955px) {
    #opinions {
      height: 600px;
      background-size: contain; } }
  #opinions #slide-uno {
    height: 100%;
    width: 100%;
    background-image: url(../img/main-slide-4.png);
    background-size: cover;
    padding-left: 35px;
    padding-top: 15px;
    color: #FFFF; }
    @media (min-width: 798px) {
      #opinions #slide-uno {
        padding-left: 150px;
        padding-top: 30px;
        background-size: cover; } }
    @media (min-width: 955px) {
      #opinions #slide-uno {
        padding-left: 250px;
        padding-top: 45px;
        background-size: 100%; } }
    #opinions #slide-uno:target ~ #slide-dos {
      display: none; }
    #opinions #slide-uno .slide-tittle {
      color: #99ce45;
      font-size: 10px;
      font-weight: 400;
      margin-bottom: 20px; }
      @media (min-width: 798px) {
        #opinions #slide-uno .slide-tittle {
          font-size: 15px;
          margin-bottom: 30px; } }
      @media (min-width: 955px) {
        #opinions #slide-uno .slide-tittle {
          font-size: 18px;
          margin-bottom: 50px; } }
    #opinions #slide-uno .article-1 {
      font-size: 15px;
      width: 100%;
      height: 100px;
      margin: 0; }
      @media (min-width: 414px) {
        #opinions #slide-uno .article-1 {
          width: 380px; } }
      @media (min-width: 798px) {
        #opinions #slide-uno .article-1 {
          font-size: 20px;
          width: 400;
          font-weight: 500; } }
      @media (min-width: 955px) {
        #opinions #slide-uno .article-1 {
          font-size: 25px;
          width: 450px;
          font-weight: 500;
          height: 200px; } }
    #opinions #slide-uno .article-2 {
      /*margin-top: 50px;*/
      margin-top: 26px;
      font-size: 10px;
      /*@include breakpoint-desktop {
                margin-top: 50px;
            }*/ }
      @media (min-width: 955px) {
        #opinions #slide-uno .article-2 {
          margin-top: 50px; } }
  #opinions #slide-dos {
    height: 100%;
    width: 100%;
    background-image: url(../img/main-slide-5.png);
    background-size: cover;
    padding-left: 35px;
    padding-top: 15px;
    color: #FFFF; }
    #opinions #slide-dos .slide-tittle2 {
      color: #99ce45;
      font-size: 10px;
      font-weight: 400;
      margin-bottom: 20px; }
      @media (min-width: 798px) {
        #opinions #slide-dos .slide-tittle2 {
          font-size: 15px;
          margin-bottom: 30px; } }
      @media (min-width: 955px) {
        #opinions #slide-dos .slide-tittle2 {
          font-size: 18px;
          margin-bottom: 50px; } }
    #opinions #slide-dos .article2-1 {
      font-size: 12px;
      width: 100%;
      height: 100px;
      margin: 0; }
      @media (min-width: 414px) {
        #opinions #slide-dos .article2-1 {
          width: 380px; } }
      @media (min-width: 798px) {
        #opinions #slide-dos .article2-1 {
          height: auto;
          font-size: 20px;
          width: 400;
          font-weight: 500; } }
      @media (min-width: 955px) {
        #opinions #slide-dos .article2-1 {
          font-size: 25px;
          width: 450px;
          font-weight: 500; } }
    #opinions #slide-dos .article2-2 {
      /*margin-top: 50px;*/
      margin-top: 26px;
      font-size: 10px;
      /*@include breakpoint-desktop {
                margin-top: 50px;
            }*/ }
      @media (min-width: 955px) {
        #opinions #slide-dos .article2-2 {
          margin-top: 50px; } }
    #opinions #slide-dos:target ~ #slide-uno {
      display: none; }
  #opinions .loader-opinions {
    width: 100%;
    height: 5px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    /*&:target ~ #slide-uno{
            display: block;
        }

        &:target ~ #slide-dos{
            display: none;
        }*/ }

@media (min-width: 414px) {
  .cta {
    align-items: center;
    color: #3e4e5c;
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", Arial, Helvetica, Tahoma, Verdana, sans-serif;
    font-size: 9px;
    font-weight: 300;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    width: 45%; } }


@media (min-width: 798px) {
  .cta {
    align-items: center;
    color: #3e4e5c;
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", Arial, Helvetica, Tahoma, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 300;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    width: 35%; } }


@media (min-width: 955px) {
  .cta {
    align-items: center;
    color: #3e4e5c;
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", Arial, Helvetica, Tahoma, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 300;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    width: 38%; } }

@media (min-width: 1024px) {
  .cta {
    align-items: center;
    color: #3e4e5c;
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", Arial, Helvetica, Tahoma, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 300;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    width: 40%; } }



/*---------------Footer------------*/
footer {
  color: #8e9ea9;
  padding: 0 6em; }
  footer .footer-link {
    color: #01affe;
    text-decoration: none; }
  footer .row {
    padding: 0;
    margin: 2em auto;
    display: flex;
    justify-content: space-between; }
    footer .row ul {
      padding: 0; }
    footer .row ul li {
      list-style: none; }
    footer .row .social {
      display: inline-block;
      margin-left: 150px; }
  footer .end {
    border-top: 2px solid #eee;
    padding-top: 25px; }



/* --------------- Description -----------------*/
.description {
  background-color: #FFFF;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap; }
                   /*-----------Cards----------*/
.card {
  margin: 30px 0;
  width: 323px;
  height: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column; }
  @media (min-width: 650px) {
    .card {
      margin: 25px; } }
  .card h2, .card p {
    margin: 0; }
  .card p {
    font-size: Calc(15px - 2px); }
  .card h2 {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 500; }
  .card i {
    margin: 40px 0;
    font-size: calc(360px - 220px); }
  .card.azul i {
    color: blue; }
  .card.verde i {
    color: green; }
  .card.naranja i {
    color: orange; }




