a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  font-family: "Montserrat", Arial, Helvetica, Tahoma, Verdana, sans-serif; }

@media (min-width: 650px) {
  .cta-button {
    background: #99ce45;
    border: none;
    border-radius: 50px;
    box-sizing: border-box;
    color: #FFFF;
    cursor: pointer;
    font-size: 15px;
    height: 40px;
    width: 150px; }
  .cta-button:hover {
    background: #6ea319;
    color: #FFFF; } }

@media (min-width: 798px) {
  .cta-button {
    background: #99ce45;
    border: none;
    border-radius: 50px;
    box-sizing: border-box;
    color: #FFFF;
    cursor: pointer;
    font-size: 15px;
    height: 40px;
    width: 150px; }
  .cta-button:hover {
    background: #6ea319;
    color: #FFFF; } }

@media (min-width: 955px) {
  .cta-button {
    background: #99ce45;
    border: none;
    border-radius: 50px;
    box-sizing: border-box;
    color: #FFFF;
    cursor: pointer;
    font-size: 15px;
    height: 40px;
    width: 150px; }
  .cta-button:hover {
    background: #6ea319;
    color: #FFFF; } }

@media (min-width: 1024px) {
  .cta-button {
    background: #99ce45;
    border: none;
    border-radius: 50px;
    box-sizing: border-box;
    color: #FFFF;
    cursor: pointer;
    font-size: 20px;
    height: 50px;
    width: 220px; }
  .cta-button:hover {
    background: #6ea319;
    color: #FFFF; } }

.loader-opinions {
  width: auto; }
  .loader-opinions .loader {
    width: 30px;
    height: 2px;
    background-color: #ffffffbe;
    margin-right: 5px;
    display: inline-block; }
    @media (min-width: 955px) {
      .loader-opinions .loader {
        width: 50px;
        height: 2px; }
        .loader-opinions .loader:hover {
          background-color: #FFFF; } }

footer {
  color: #8e9ea9;
  padding: 0 6em; }
  footer .footer-link {
    color: #01affe;
    text-decoration: none; }
  footer .row {
    padding: 0;
    margin: 2em auto;
    display: flex;
    justify-content: space-between; }
    footer .row ul {
      padding: 0; }
    footer .row ul li {
      list-style: none; }
    footer .row .social {
      display: inline-block;
      margin-left: 150px; }
  footer .end {
    border-top: 2px solid #eee;
    padding-top: 25px; }

.loader-opinions {
  width: auto; }
  .loader-opinions .loader {
    width: 30px;
    height: 2px;
    background-color: #ffffffbe;
    margin-right: 5px;
    display: inline-block; }
    @media (min-width: 955px) {
      .loader-opinions .loader {
        width: 50px;
        height: 2px; }
        .loader-opinions .loader:hover {
          background-color: #FFFF; } }

#opinions {
  height: 260px;
  position: relative; }
  @media (min-width: 798px) {
    #opinions {
      height: 400px; } }
  @media (min-width: 955px) {
    #opinions {
      height: 520px;
      background-size: contain; } }
  #opinions #slide-uno {
    height: 100%;
    width: auto;
    background-image: url(../img/main-slide-4.png);
    background-size: cover;
    padding-left: 35px;
    padding-top: 15px;
    color: #FFFF; }
    @media (min-width: 798px) {
      #opinions #slide-uno {
        padding-left: 150px;
        padding-top: 30px;
        background-size: cover; } }
    @media (min-width: 955px) {
      #opinions #slide-uno {
        width: auto;
        padding-left: 250px;
        padding-top: 45px;
        background-size: cover; } }
    #opinions #slide-uno:target ~ #slide-dos {
      display: none; }
    #opinions #slide-uno .slide-tittle {
      color: #99ce45;
      font-size: 10px;
      font-weight: 400;
      margin-bottom: 20px; }
      @media (min-width: 798px) {
        #opinions #slide-uno .slide-tittle {
          font-size: 15px;
          margin-bottom: 30px; } }
      @media (min-width: 955px) {
        #opinions #slide-uno .slide-tittle {
          font-size: 18px;
          margin-bottom: 50px; } }
    #opinions #slide-uno .article-1 {
      font-size: 15px;
      width: 100%;
      height: 100px;
      margin: 0; }
      @media (min-width: 650px) {
        #opinions #slide-uno .article-1 {
          width: 380px; } }
      @media (min-width: 798px) {
        #opinions #slide-uno .article-1 {
          font-size: 20px;
          width: 400;
          font-weight: 500; } }
      @media (min-width: 955px) {
        #opinions #slide-uno .article-1 {
          font-size: 25px;
          width: 450px;
          font-weight: 500;
          height: 200px; } }
    #opinions #slide-uno .article-2 {
      /*margin-top: 50px;*/
      margin-top: 26px;
      font-size: 10px;
      /*@include breakpoint-desktop {
                margin-top: 50px;
            }*/ }
      @media (min-width: 955px) {
        #opinions #slide-uno .article-2 {
          margin-top: 50px;
          font-size: 15px; } }
  #opinions #slide-dos {
    display: none;
    height: 100%;
    width: 100%;
    background-image: url(../img/main-slide-5.png);
    background-size: cover;
    padding-left: 35px;
    padding-top: 15px;
    color: #FFFF; }
    #opinions #slide-dos .slide-tittle2 {
      color: #99ce45;
      font-size: 10px;
      font-weight: 400;
      margin-bottom: 20px; }
      @media (min-width: 798px) {
        #opinions #slide-dos .slide-tittle2 {
          font-size: 15px;
          margin-bottom: 30px; } }
      @media (min-width: 955px) {
        #opinions #slide-dos .slide-tittle2 {
          font-size: 18px;
          margin-bottom: 50px; } }
    #opinions #slide-dos .article2-1 {
      font-size: 12px;
      width: 100%;
      height: 100px;
      margin: 0; }
      @media (min-width: 650px) {
        #opinions #slide-dos .article2-1 {
          width: 380px; } }
      @media (min-width: 798px) {
        #opinions #slide-dos .article2-1 {
          height: auto;
          font-size: 20px;
          width: 400;
          font-weight: 500; } }
      @media (min-width: 955px) {
        #opinions #slide-dos .article2-1 {
          font-size: 25px;
          width: 450px;
          font-weight: 500; } }
    #opinions #slide-dos .article2-2 {
      /*margin-top: 50px;*/
      margin-top: 26px;
      font-size: 10px;
      /*@include breakpoint-desktop {
                margin-top: 50px;
            }*/ }
      @media (min-width: 955px) {
        #opinions #slide-dos .article2-2 {
          margin-top: 50px; } }
    #opinions #slide-dos:target ~ #slide-uno {
      display: none; }
  #opinions .loader-opinions {
    width: auto;
    height: 5px;
    position: absolute;
    bottom: 10px;
    left: 40%;
    /*&:target ~ #slide-uno{
            display: block;
        }

        &:target ~ #slide-dos{
            display: none;
        }*/ }
    @media (min-width: 798px) {
      #opinions .loader-opinions {
        left: 50%; } }

body {
  font-family: "Montserrat", Arial, Helvetica, Tahoma, Verdana, sans-serif;
  margin: 0; }
