a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  font-family: "Montserrat", Arial, Helvetica, Tahoma, Verdana, sans-serif; }

footer {
  color: #8e9ea9;
  padding: 0 6em; }
  footer .footer-link {
    color: #01affe;
    text-decoration: none; }
  footer .row {
    padding: 0;
    margin: 2em auto;
    display: flex;
    justify-content: space-between; }
    footer .row ul {
      padding: 0; }
    footer .row ul li {
      list-style: none; }
    footer .row .social {
      display: inline-block;
      margin-left: 150px; }
  footer .end {
    border-top: 2px solid #eee;
    padding-top: 25px; }

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  font-family: "Montserrat", Arial, Helvetica, Tahoma, Verdana, sans-serif; }

.mainNav {
  height: 90px;
  width: 100%;
  padding: 15px 0;
  background-color: #01affe;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  color: #FFFF;
  font-size: 10px;
  text-transform: uppercase; }
  .mainNav a {
    margin: 3px;
    padding: 0 10px;
    text-align: center; }
    .mainNav a.right {
      border-right: transparent; }
    .mainNav a:hover {
      color: rgba(17, 10, 112, 0.8);
      text-transform: initial;
      font-size: 15px; }
    @media (min-width: 768px) {
      .mainNav a {
        border-right: solid 3px rgba(17, 10, 112, 0.2);
        font-size: 15px;
        padding: 0 15px; }
        .mainNav a:hover {
          font-size: 20px; } }
  @media (min-width: 768px) {
    .mainNav {
      flex-direction: row; } }

body {
  font-family: "Montserrat", Arial, Helvetica, Tahoma, Verdana, sans-serif;
  margin: 0; }
