//Abstracts
@import "./abstract/variables";
@import "./abstract/mixins";

// Components
@import "../scss/componentes/cards";
@import "./componentes/anchor";
@import "./componentes/buttons";

// Sections
@import "./sections/footer";


body {
    font-family: $main-font;
    margin: 0;
}















/* --------------- Description -----------------*/
.description {
    background-color: $blanco;
    height: fit-content;

    @include display-center;
    flex-direction: row;
	flex-wrap: wrap;
}
