//Abstracts
@import "./abstract/variables";
@import "./abstract/mixins";

// Components
@import "./componentes/cards";
@import "./componentes/anchor";
@import "./componentes/buttons";

// Sections
@import "./sections/sliders";
@import "./sections/nav";
@import "./sections/cta";
@import "./sections/footer";

body {
    font-family: $main-font;
    margin: 0;
}
















/* --------------- Description -----------------*/
.description {
    background-color: $blanco;
    height: fit-content;

    @include display-center;
    flex-direction: row;
	flex-wrap: wrap;
}

