@import "./abstract/variables";
@import "./abstract/mixins";

// Components
@import "./componentes/anchor";
@import "./componentes/buttons";

// Sections
@import "./sections/footer";
@import "./sections/opinions";

body {
    font-family: $main-font;
    margin: 0;
}


