@import "../abstract/variables";
@import "../mixins/mixins";

#CTA{
    height: 200px;
    text-align: center;
    h1 { 
        font-family: $main-font;
        font-size: $text-l;
    }
    .boton-cta{
        @include boton ($verde, 70px, 20px, 30px, $text-boton-m);
        margin-top:35px;
        color:$blanco;
        border: none;
    }
}