@import "../abstract/variables";

.loader-opinions{
    width: auto;
    .loader{
        width: 30px;
        height: 2px;
        background-color: #ffffffbe;
        margin-right: 5px;
        display: inline-block;
        
        @include breakpoint-tablet-2{
            width: 50px;
            height: 2px;
            &:hover{
                background-color: $blanco;
            }
        }
    }
}