//Aca vamos a hacer el BOTON ($color, $padding, $font-size)
//Display: flex/center
//propiedad upper case

@mixin boton ($color-boton, $boton-height, $padding-boton-top, $padding-boton-left, $font-size) {
    background-color: $color-boton;
    padding: $padding-boton-top, $padding-boton-left;
    font-size: $font-size;
    border-radius: 32px;  //??? esto no estoy segura q vaya a estar bien
    height: $boton-height;
}


@mixin display-center {
    display: flex;
    justify-content: center;
    align-items: center;
    
}


@mixin upper-case {
    text-transform: uppercase;
}