//Aca vamos a hacer el BOTON ($color, $padding, $font-size)
//Display: flex/center
//propiedad upper case
@import "./variables";

@mixin boton ($color-boton, $boton-height, $padding-boton-top, $padding-boton-left, $font-size) {
    background-color: $color-boton;
    padding: $padding-boton-top, $padding-boton-left;
    font-size: $font-size;
    border-radius: 32px;  //??? esto no estoy segura q vaya a estar bien
    height: $boton-height;
}


@mixin display-center {
    display: flex;
    justify-content: center;
    align-items: center;
    
}


@mixin upper-case {
    text-transform: uppercase;
}

//Breakpoints
@mixin breakpoint-mobile-1 {
    @media (min-width: 414px) {
        @content;
    }
}

@mixin breakpoint-tablet-1 {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin breakpoint-tablet-2 {
    @media (min-width: 955px) {
        @content;
    }
}

@mixin breakpoint-desktop {
    @media (min-width: 1024px) {
        @content;
    }
}

@mixin breakpoint-mobile-1 {
    @media (min-width: 650px) {
        @content;
    }
}
