//Colores
$azul: #01affe;
$verde: #99ce45;
$verde-2: #6ea319;
$negro: #3e4e5c;
$blanco: #FFFF;
$naranja: #fe8f4f;


//Tamaños de texto
$text-xl: 28px;
$text-ll:25px;
$text-l: 20px;
$text-m: 15px;
$text-s: 9px;
$text-boton-s: 10px;
$text-boton-m: 15px;
$text-boton-l: 20px;


//Fuente
$main-font: 'Montserrat', Arial, Helvetica, Tahoma, Verdana, sans-serif;

//Font-weight:
$light: 300;
$regular: 400;
$bold: 600;